
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link rel="stylesheet" href="static/css/ratchet.min.css">
    <link rel="stylesheet" href="static/css/ratchet-theme-ios.min.css">
    <link rel="stylesheet" href="static/css/mytrace.css">
    <script src="static/js/ratchet.js"></script>
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB_p_A-nYE-Sn1VlJ_l-OsGcoynL_ExPIw&sensor=false"></script> 
    
    <script src="static/js/jquery-1.11.0.min.js"></script>
    <script src="static/js/placeEdit.js"></script>
  </head>
  <body>
    <header class="bar bar-nav">
      <a class="btn btn-link pull-left" href="placedetail?cid={{ place_info['cid'] }}" data-ignore="push">Cancel</a>
      <h1 class="title">Edit</h1>
      <a class="btn btn-link pull-right" href="#">Save</a>
    </header>

<!-- content starts here -->
    <div class="content">
      <div class="place-detail-datetime">{{ place_info['time'] }} 
          <span class="icon icon-info small-icon"></span>
      </div>

      <div class="detail-img-section">
        <div class="slider" id="detail-large-img-slider">
          <div class="slide-group">
            {% for photo_url in place_info['photo_urls'] %}
            <div class="slide" name="photo-{{ loop.index }}">
               <img class="detail-large-img" src="{{ photo_url }}"/>
            </div>
            {% endfor %}
          </div> <!-- end slide-group -->
        </div><!-- end detail-large-img-slider -->  
      </div> <!-- end detail-img-section-->

      <div class="content-padded detail-img-thumb-section">
            {% for photo_url in place_info['photo_urls'] %}
            <span name="photo-{{ loop.index }}"><img class="detail-thumb-img" src="{{ photo_url }}"/><span class="icon icon-close"></span></span>
            {% endfor %}
            <span><span class="icon icon-plus"></span></span>
      </div>

      <div class="detail-info-section">
        <div class="detail-travel-party-section">
          <span class="place-detail-section-title">YOUR TRAVEL PARTY</span>
          <a href="#pick-travelparty-modal">
             <div class="content-padded">
                {% for user in place_info['users'] %}
                <span id="travelparty-{{ user['uid'] }}"><img class="user-profile-pic" src="{{ user['pic_url'] }}"><span class="user-profile-name">{{ user['name'] }}</span></span>
               {% endfor %}
            </div>
          </a>
        </div>

        <div class="place-comments">
          <div class="place-detail-section-title">YOUR EXPERIENCE HERE</div>
          <ul class="table-view">
             {% for comment in place_info['comments'] %}
             {% if comment['uid'] == place_info['host_uid'] %}
            <li class="table-view-cell media self-comment" id="comment-{{ comment['comment_id'] }}">
                <img class="media-object pull-left user-profile-pic" src="http://placehold.it/42x42">
                <div class="media-body" contenteditable="true"  >
                   <p>{{ comment['comment_str'] }}</p>
                </div>
                <span class="icon icon-close del-comment-btn"></span>
            </li>
            {% else %}
            <li class="table-view-cell media">
                <img class="media-object pull-left user-profile-pic" src="http://placehold.it/42x42">
                <div class="media-body">
                  <p>{{ comment['comment_str'] }}</p>
                </div>
            </li>
            {% endif %}
            {% endfor %}
          </ul>
          <div class="icon icon-plus add-comment-btn"></div>
        </div> <!-- end place-comment section -->
        <div class="detail-share-section">
           <span class="place-detail-section-title">SHARED WITH: </span><a href="#share-option-modal">{{ place_info['perm'] }}</a>
          </div>
      </div><!-- end detail-info-session -->
        
        <div>
           <h5>Place: <a href="#pickplace-modal" id="current-place">{{ place_info['name'] }}</a></h5>
        </div>
        <div class="place-map">
          <div id="place-map-canvas">
          </div>
        </div>


    <!-- pickplace modal-->
    <div id="pickplace-modal" class="modal">
      <header class="bar bar-nav">
          <a class="icon icon-close pull-right" href="#pickplace-modal"></a>
          <h1 class="title">Pick Place</h1>
        </header>

        <div class="content">
          <form class="trace-search-bar">
            <input type="search" placeholder="Search Places" class="allplace-search-input">
          </form>
          <ul class="table-view" id="placemodal-place-tbl">
              {% for p in places %}
              {% if p['place_id'] == place_info['place_id'] %}
              <li class="table-view-cell" id="place-{{ p['place_id'] }}" lat="{{ p['lat'] }}" lng="{{ p['long'] }}"><span class="icon icon-check"></span>{{ p['name'] }}</li>
              {% else %}
              <li class="table-view-cell" id="place-{{ p['place_id'] }}" lat="{{ p['lat'] }}" lng="{{ p['long'] }}">{{ p['name'] }}</li>
              {% endif %}
              {% endfor %}
          </ul>
        </div>
    </div> <!-- end pickplace modal -->

     <!-- share option modal-->
    <div id="share-option-modal" class="modal">
      <header class="bar bar-nav">
        <a class="icon icon-close pull-right" href="#share-option-modal"></a>
        <h1 class="title">Share With</h1>
    </header>
    <div class="content">
        <ul class="table-view" id="sharing-options">
          <li class="table-view-cell"><span class="icon icon-check"></span>Your Travel Party</li>
          <li class="table-view-cell">Public</li>
        </ul>
        <div id="public-sharing-notify">
            <p>Do you want to notify your travel party and ask for their consent to share the entire trip experience, including their comments and photos to the public?</p>
            <p><b>Only the photos and comments created by you, and your traval party who have given you consent to share, will be shown to the public.</b></p>
            <button class="btn btn-block" id="btn-ask-travel-party">Ask My Travel Party<span class="badge badge-primary">0</span></button>
            <ul id="travel-party-response">
              <li>
                <span class="user-profile-name">JT said Yes</span>
              </span>
              </li>
              <li>
                <span class="user-profile-name">Chan said No</span>
              </span>
              </li>
            </ul>
        </div>
    </div>
    </div> <!-- end share option modal -->

     <div id="pick-travelparty-modal" class="modal">
        <header class="bar bar-nav">
           <a class="icon icon-close pull-right" href="#pick-travelparty-modal"></a>
          <h1 class="title">Travel Party</h1>
        </header>
        <div class="content">
          <div>
            <form class="trace-search-bar">
              <input type="search" placeholder="Search Friends" id="friend-search-bar">
            </form>
          </div>
          <ul class="table-view" id="friend-list">
            {% for f in friends %}
            {% if f in place_info['users'] %}
            <li class="table-view-cell" id="userprofile-{{ f['uid'] }}"><span class="icon icon-check"></span>{{ f['name'] }}</li>
            {% else %}
            <li class="table-view-cell" id="userprofile-{{ f['uid'] }}">{{ f['name'] }}</li>
            {% endif %}
            {% endfor %}
          </ul>
        </div> 
    </div><!-- end pick-travelparty-modal -->
    <form id="form-save-existing-place" method="POST">
    </form>
    </div> <!-- end content -->
  </body>
</html>
