<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link rel="stylesheet" href="css/ratchet.min.css">
    <link rel="stylesheet" href="css/ratchet-theme-ios.min.css">
    <link rel="stylesheet" href="css/mytrace.css">
    <script src="js/ratchet.js"></script>
    <script src="js/jquery-1.11.0.min.js"></script>
  </head>
  <body>
  	 <header class="bar bar-nav">
          <a class="btn btn-link pull-right" href="javascript:history.back()">Cancel</a>
          <h1 class="title">Pick Place</h1>
        </header>

        <div class="content">
          <form class="trace-search-bar">
            <input type="search" placeholder="Search Places" id="allplace-search-input">
          </form>
          <ul class="table-view">
              <li class="table-view-cell">Pier 39</li>
              <li class="table-view-cell">Fisherman's Wharf</li>
              <li class="table-view-cell">Bubba Gumps @ Pier 39</li>
              <li class="table-view-cell">Golden Gate Ferry</li>
          </ul>
        </div>
  </body>
</html>
