
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link rel="stylesheet" href="static/css/ratchet.min.css">
    <link rel="stylesheet" href="static/css/ratchet-theme-ios.min.css">
    <link rel="stylesheet" href="static/css/mytrace.css">
    <script src="static/js/ratchet.js"></script>
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB_p_A-nYE-Sn1VlJ_l-OsGcoynL_ExPIw&sensor=false"></script> 
    
    <script src="static/js/jquery-1.11.0.min.js"></script>
    <script src="static/js/publicPlaceDetail.js"></script>
       <script> 
    var map;
    function initialize() {
      var mapOptions = {
        zoom: 16,
        center: new google.maps.LatLng({{ place_info['lat'] }}, {{ place_info['long'] }}),
        mapTypeControl: false,
        zoomControl: true,
        zoomControlOptions: {
          style: google.maps.ZoomControlStyle.SMALL
        },
        streetViewControl: false,
      };
      map = new google.maps.Map(document.getElementById('place-map-canvas'),
          mapOptions);
    
      var marker = new google.maps.Marker({
                      position: {lat: {{ place_info['lat'] }}, lng:{{ place_info['long'] }}},
                      map: map,
                      title:"{{ place_info['name'] }}"
                      });

    }
    google.maps.event.addDomListener(window, 'load', initialize);  
    
     </script>
  </head>
  <body>
    <header class="bar bar-nav">
      {% if option == "explore" %}
      <a class="icon icon-left-nav pull-left" href="explore" data-ignore="push"></a>
      {% else %}
      <a class="icon icon-left-nav pull-left" href="mytrace" data-ignore="push"></a>
      {% endif %}
      <h1 class="title">{{ place_info['name'] }}</h1>
      {% if option == "explore" %}
      {% else %}
      <a class="btn btn-link pull-right" href="/editplace?cid={{ place_info['cid'] }}" data-ignore="push">Edit</a>
      {% endif %}
    </header>

<!-- content starts here -->
    <div class="content">
      <div class="detail-img-section">
        <div class="photo-datetime">{{ place_info['time'] }}</div>
        {% if option == "explore" %}
        <div class="like-info"><span class="icon icon-star"></span>250</div>
        {% endif %}
        <div class="slider" id="detail-large-img-slider">
          <div class="slide-group">
            {% for photo_url in place_info['photo_urls'] %}
            <div class="slide" name="photo-{{ loop.index }}">
               <img class="detail-large-img" src="{{ photo_url }}"/>
            </div>
            {% endfor %}
          </div>
          
        </div>     
      </div>

      <div><a href="#" id="btn-view-more-thumb" class="btn btn-link">Show Thumbnails</a></div>
      <div class ="public-img-thumb-section">
        <div class="img-thumb-sort">
          Sort By: 
          <a href="#" class="btn btn-outlined">Most Recent</a>
          <a href="#" class="btn btn-outlined">Most Popular</a>
        </div>
        <div class="content-padded">
            {% for photo_url in place_info['photo_urls'] %}
            <span name="photo-{{ loop.index }}"><img class="detail-thumb-img" src="{{ photo_url }}"/></span>
            {% endfor %}
        </div>
      </div>

      <div class="detail-info-section">
        <div class="detail-travel-party-section">
          <span class="place-detail-section-title">YOUR TRAVEL PARTY</span>
          <div class="content-padded">
            {% for user in place_info['users'] %}
            <span><img class="user-profile-pic" src="{{ user['pic_url'] }}"><span class="user-profile-name">{{ user['name'] }}</span></span>
            {% endfor %}
          </div>
        </div>
        <div class="place-comments">
          <ul class="table-view">
            {% for comment in place_info['comments'] %}
             <li class="table-view-cell media">
                <img class="media-object pull-left user-profile-pic" src="http://placehold.it/42x42">
                <div class="media-body">
                   <p>{{ comment['comment_str'] }}</p>
                </div>
            </li>
            {% endfor %}
          </ul>
          <div class="detail-share-section">
             <span class="place-detail-section-title">SHARED WITH: </span>
             {% if place_info['perm'] == 0 %}
             Public
             {% else %}
             Your Travel Party
             {% endif %}
          </div>
        </div>
        <div class="place-map">
          <div id="place-map-canvas">
          </div>
        </div>
      </div>
      {% if option == "explore" %}
      <div>
        <button class="btn btn-block" id="btn-add-favorite">Add to Favorite</button>
      </div>
      {% endif %}
    </div><!-- /.content -->
  </body>
</html>
