<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link rel="stylesheet" href="css/ratchet.css">
    <link rel="stylesheet" href="css/ratchet-theme-ios.min.css">
    <link rel="stylesheet" href="css/mytrace.css">
    <style>

      input[type=checkbox]{
        float:right;
        z-index: 999;
        position:relative;
        top:-80px;
        right:-50px;
      }
      .place-card{
        z-index:0;

      }

    </style>
  </head>
  <body>
    <header class="bar bar-nav">
      <a class="icon icon-left-nav pull-left" href="myPlaces.html" data-transition="slide-out"></a>
      <h1 class="title">Preview</h1>
      <a class="btn btn-link pull-right" data-ignore="push" href="journalDetail">Save</a>
    </header>
<!-- content starts here -->
    <div class="content">
        <form>
          <label name="title">Title</label><input type="text" name="title" placeholder="A day in downtown SF"></input>
          <label name="overview">Overview</label><input type="text" name="title" placeholder="My first time being in San Francisco. Only spending a day in downtown SF and checked out some of the most famous tourist spots"></input>
        </form>
        <div class="place-map">
          <div id="place-map-canvas"></div>
        </div>
        <p class="label-description">Here are places you added.</p>
        <ul class="table-view">
          <li class="table-view-cell">
            <a class="place-card" href="placeDetail.html" data-transition="slide-in">
              <div class="place-datetime">Jun 15, 2014 10:34 
                <span class="icon icon-info small-icon"></span></div>
              <img class="place-card-img" src="http://media-cdn.tripadvisor.com/media/photo-s/05/a6/f2/99/pier-39.jpg"/>
              <div class="place-info">
                <div class="place-name">Pier 39</div>
              </div>
            </a>
            <input type="checkbox" checked></input>
          </li>
          <li class="table-view-cell">
            <a class="place-card" href="#" data-transition="slide-in">
              <div class="place-datetime">Jun 15, 2014 11:02
                <span class="icon icon-info small-icon"></span></div>
              
              <img class="place-card-img"  src="http://media-cdn.tripadvisor.com/media/photo-s/05/9e/08/ef/fisherman-s-wharf.jpg"/>
              <div class="place-info">
                <div class="place-name">Fishermen's Wharf</div>
              </div>
            </a>
            <input type="checkbox" checked></input>
          </li>
        </ul>

    </div><!-- /.content -->
    <script src="js/ratchet.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
    <script> 
    var map;
    function initialize() {
      // locations
      var locations = [
          ["Pier 39", 37.8086730,-122.4098210, 4],
          ["Fishermen's Wharf", 37.8081420,-122.4165950, 5],
          ["Ghirardelli Square",37.8056590,-122.4223080, 3],
          ["Golden Gate Bridge", 37.7996170,-122.4672420, 1]
      ];
      var styleArray = [{"featureType":"administrative","stylers":[{"visibility":"off"}]},{"featureType":"poi","stylers":[{"visibility":"simplified"}]},{"featureType":"road","stylers":[{"visibility":"simplified"}]},{"featureType":"water","stylers":[{"visibility":"simplified"}]},{"featureType":"transit","stylers":[{"visibility":"simplified"}]},{"featureType":"landscape","stylers":[{"visibility":"simplified"}]},{"featureType":"road.highway","stylers":[{"visibility":"off"}]},{"featureType":"road.local","stylers":[{"visibility":"on"}]},{"featureType":"road.highway","elementType":"geometry","stylers":[{"visibility":"on"}]},{"featureType":"road.arterial","stylers":[{"visibility":"off"}]},{"featureType":"water","stylers":[{"color":"#5f94ff"},{"lightness":26},{"gamma":5.86}]},{},{"featureType":"road.highway","stylers":[{"weight":0.6},{"saturation":-85},{"lightness":61}]},{"featureType":"road"},{},{"featureType":"landscape","stylers":[{"hue":"#0066ff"},{"saturation":74},{"lightness":100}]}];

      var mapOptions = {
        mapTypeControl: false,
        zoomControl: false,
        streetViewControl: false,
        styles: styleArray
      };
      map = new google.maps.Map(document.getElementById('place-map-canvas'),
          mapOptions);
    
      var bounds = new google.maps.LatLngBounds();

      for (i = 0; i < locations.length; i++) {  
      marker = new google.maps.Marker({
        position: new google.maps.LatLng(locations[i][1], locations[i][2]),
        map: map
      });
      bounds.extend(new google.maps.LatLng(locations[i][1], locations[i][2]));
      map.fitBounds(bounds);

      google.maps.event.addListener(marker, 'click', (function(marker, i) {
        return function() {
          infowindow.setContent(locations[i][0]);
          infowindow.open(map, marker);
        }
      })(marker, i));

      }
      
    }


    google.maps.event.addDomListener(window, 'load', initialize);
    </script>
  </body>
</html>
