<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link rel="stylesheet" href="css/ratchet.min.css">
    <link rel="stylesheet" href="css/ratchet-theme-ios.min.css">
    <link rel="stylesheet" href="css/mytrace.css">
    <script src="js/ratchet.js"></script>
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB_p_A-nYE-Sn1VlJ_l-OsGcoynL_ExPIw&sensor=false"></script> 
    
    <script src="js/jquery-1.11.0.min.js"></script>
    <script>
    $(function(){
      updateTravelParty();
    });

    function updateTravelParty(){
      $("#friend-list li").on("click", function(){
        var curItem = $(this).html();
        if (curItem.indexOf("icon-check") == -1){
          curItem = '<span class="icon icon-check"></span>' + curItem 
          $(this).html(curItem);
        }
        else{
          curItem = $(this).text();
          $(this).html(curItem);
        }
      });
    }
    </script>
  </head>
  <body>
      <header class="bar bar-nav">
        <a class="btn btn-link pull-left" href="javascript:history.back()">Cancel</a>
        <h1 class="title">Travel Party</h1>
        <a class="btn btn-link pull-right" href="javascript:history.back()">Done</a>
      </header>
      <div class="content">
        <div>
          <form class="trace-search-bar">
            <input type="search" placeholder="Search Friends" id="friend-search-bar">
          </form>
        </div>
        <ul class="table-view" id="friend-list">
          <li class="table-view-cell"><span class="icon icon-check"></span>Chan</li>
          <li class="table-view-cell"><span class="icon icon-check"></span>JT</li>
          <li class="table-view-cell">Megan</li>
          <li class="table-view-cell">Kate</li>
          <li class="table-view-cell">James</li>
        </ul>
    </div> <!-- end content -->
  </body>
</html>